*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    background-color: #efeeee;
    height: 9rem;
}
.header-paragraph {
    font-size: 1rem;
    font-weight: bold;
}
.header-paragraph-margin-top{
    margin-top: -1.5rem;
}

.gestor-tramite-abm-tab{
    background-color: #f0eded;
}
.gestor-tramite-abm-tab .nav-link{
    color: black;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-weight: 500;
    line-height: 1.5;
    min-width: 7rem;
}

.tabs-margin-top{
    margin-top: -2.6rem;
}

.repositorio-icon-button{
    border: none;
}
.repositorio-span{
    font-weight: 500;
    padding-top: .1rem;
}
.repositorio-seccion{
    height: 7rem;
    margin-top: 4rem;
    margin-bottom: 5.5rem;
}
.repositorio-tabla{
    overflow: auto;
}
.repositorio-icon-blue{
    color: #0D6EFD;
}
.repositorio-icon-green{
    color: green;
}
.repositorio-icon-yellow{
    color: rgb(240, 121, 9);
}
.repositorio-icon-red{
    color: red;
}
.repositorio-icon-margin{
    margin-left: 1rem;
}
.repositorio-tabla-mensaje{
    font-style: italic;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

/* Componente: ModalConsulta.jsx */
.modal-consulta .modal-content {
    border-radius: 0;
}
.modal-consulta .modal-header {
    border: none;
}
.modal-consulta p {
    font-size: 0.875rem;
}
.modal-codigo-gris{
    color: #9b9b9b;
}
.modal-card-header{
    color: #E41625 !important;
    font-weight: 700;
    border-bottom: .15rem solid #E41625;
}
.modal-card-header-edicion{
    font-weight: 700;
    color: #333;
    border: 0;
}
.nuevo-tramite-label {
    display: block;
    font-size: 0.875rem;
    font-weight: 500;
}

.accordion-item{
    margin-top: .5rem;
    box-shadow: 0 .3rem .3rem 0 #E2E2E2;
}
.accordion-button{
    font-weight: 700;
    color: #333;
}
.form-switch{
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}
.form-switch .form-check-input{
    padding: 0;
    margin: 0;
    cursor: pointer;
}
.form-switch .form-check-input:checked{
    background-color: red;
    border: red;
    padding: 0;
    margin: 0;
    cursor: pointer;
}

h5{
    font-weight: 500;
    font-style: italic;
    color: #0D6EFD;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    padding: 0;
    margin: 0;
}
th{
    background-color: #F8F8F8 !important;
    font-size: .875rem !important;
    color: #595C5F !important;
    font-weight: 700 !important;
    border-bottom: .15rem solid #595C5F !important;
}
tr {
    /* PARA MARCAR LA SEPARACION LAS CELDAS DE LA TABLA  */
    vertical-align: middle;
    padding: 0;
    margin: 0;
} 
td {
    /* PARA MARCAR LA SEPARACION LAS CELDAS DE LA TABLA  */
    padding: 0;
    margin: 0;
    float: center;
    font-size: .9rem;
}
.rbt-close-content{
    display: none !important;
}
.btn-success {
    margin: 0 1rem;
}
.btn-danger {
    margin: 0 1rem;
}
.header-centered .ag-header-cell-label {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.fade-in {
    opacity: 0;
    animation: fadeIn 0.5s ease-in forwards;
}
  
@keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
}

.opcion-nav :hover{
    color: #0066ff;
}
